apiVersion: apps/v1
kind: Deployment
metadata:   
  annotations:  
    tad.gitops.set/image: ".spec.template.spec.containers[0].image"
    tad.gitops.get/image: ".spec.template.spec.containers[0].image"
    tad.gitops.set/replicas: ".spec.replicas"
    tad.gitops.get/replicas: ".spec.replicas" 
  name: java-quarkus-knwobxkz
spec:
  replicas: 1 
  template: 
    spec:
      containers:
      - image: quay.io/sjmrhtap/java-quarkus-knwobxkz:be7d9a8fddda9c50320829e02b16b7b57558dbf3@sha256:e60abe980b3a512c6df9708d0ed20570d8f0e74e7427c67768ac413cca3b4224
        name: container-image  
